@model APICurso.Models.Curso

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhe</h1>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdAlunos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdAlunos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CursoId" class="btn btn-primary">Editar</a> 
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
